/node_modules
/public/hot
/public/reel_videos
/public/storage
/public/reel_videos
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/front/Aara/HNoww_Website.mp4
public/images/front/Aara.zip