.exists_content {
    /* margin-top: 40px; */
    text-align: center;
}

.exists_content .sub_head {
    color: var(--secondary-color);
    font-style: italic;
    margin-bottom: 0;
}

.exists_content .sub_head_inter {
    color: var(--grey-666);
}

.practice_content .sub_head_inter {
    margin-bottom: 40px;
    color: var(--grey-666);
}

.practice_content .title_40 {
    font-size: 34px;
    margin-bottom: 18px;
}

.practice_content .small_heasd {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.founder_main {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.founder_main .founder_text_1 h2,
.founder_main .founder_text_2 h2 {
    font-family: var(--heading-font);
    color: var(--dark-900);
    font-size: 120px;
    font-weight: 500;
}

.founder_main .founder_text_2 {
    display: flex;
    align-items: end;
}

.founder_main .founder_text_1 p {
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    color: var(--grey-666);
    text-align: right;
}

.abiout_left {
    border-right: 1px solid var(--gold-color);
    padding-right: 60px;
    margin-right: 60px;
}

.abiout_left_tp {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 24px;
}

.abiout_left_tp p {
    color: var(--gold-color);
}

.abiout_left_tp img {
    width: 240px;
}

.abiout_right .abiout_left_tp img {
    width: 80px;
}
