/*.gesture_box {*/
/*    cursor: pointer;*/
/*}*/

.gift_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.gift_box .gift_box_lt,
.gift_box .gift_box_rt {
    width: 50%;
}

.gift_box_rt .gift_head {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
}

.gift_box_rt .sub_head_inter {
    line-height: 38px;
    color: var(--grey-666);
    margin: 60px 0;
    border-left: 1px solid #C2B48E;
    padding: 19px 0 19px 30px;
    margin-left: 60px;
}

.gift_box_rt .com_btn {
    margin-left: 90px;
}

/* -------------card--------------- */
.audio_modal .modal-body {
    padding: 0;
}

.audio_modal .modal-dialog,
.audio-card {
    /* max-width: 580px; */
}

.audio-card {
    background: url(../../images/front/ct_noise_bg.webp) no-repeat center / cover;
    padding: 40px;
    display: flex;
    gap: 25px;
}

.audio-content {
    text-align: center;
    width: 60%;
}

.song_title {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 500;
}

.song_phrase {
    color: var(--dark-333);
    font-weight: 500;
}


.audio-meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 6px;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: #d6c9a3;
    position: relative;
    margin-bottom: 16px;
}

.progress-bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: var(--gold-color);
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.controls .icon,
.controls .play {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.controls .play {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--gold-color);
    color: #fff;
    font-size: 18px;
}

.audio-links a {
    color: var(--gold-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.audio-links span {
    margin: 0 6px;
}

/* -------------card--------------- */