/* hero section */
.hero_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section {
    position: relative;
    /* height: 100vh; */
}

.hero-section img {
    filter: brightness(0.7);
}

.hero_content {
    position: absolute;
    top: 16em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-align: center;
}
.hero_content .main_head {
    font-size: 55px;
    /*white-space:nowrap;*/
    line-height: 55px;
    /*margin-bottom:14px;*/
}
.hero_content p {
    color: #f8f7f3;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: var(--mb);
}

.hero_left_right {
    position: absolute;
    top: 25%;
    left: -7%;
    transform: translate(-50%, -50%);
    rotate: -90deg;
    display: flex;
    align-items: center;
    gap: 18px;
}

.hero_left_right .sub_head {
    color: var(--white-color);
}

.about {
    overflow: hidden;
}

/* Find Gesture  */

.gesture_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.gesture_filter_child {
    display: flex;
    align-items: center;
    gap: 15px;
}

.gesture_title {
    color: var(--dark-900);
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.gesture_filter select {
    border: none;
    border-bottom: 1px solid #bbb;
    padding-right: 55px;
    color: var(--dark-900);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    background: url("../../images/front/down_arr.svg") no-repeat right 0px
        center / 16px;
    appearance: none;
    cursor: pointer;
    padding-bottom: 8px;
}

.gesture_filter select:focus-visible {
    outline: none;
}

.gesture_filter .dropdown:focus {
    outline: none;
    background: url("../../images/front/down_arr_yello.svg") no-repeat right 0px
        center / 16px;
    border-bottom: 1px solid var(--gold-color);
}

/* .gesture_box_bot {
    display: flex;
    justify-content: space-between;
    gap: 20px;
} */

/*.gesture_filter select option:hover,*/
/*.gesture_filter select:focus option:hover {*/
/*   box-shadow: 0 0 10px 100px red inset !important;*/
/*   background-color: red !important;*/
/*   color: white !important;*/
/* }*/

/*.gesture_filter select option:checked {*/
/*   box-shadow: 0 0 10px 100px red inset !important;*/
/*   background-color: red !important;*/
/*   color: white !important;*/
/* }*/

/* desire_box */

.desire_box_top {
    position: relative;
    overflow: hidden;
}

.desire_box_top .icon_hert {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 3;
    cursor: pointer;
}

.heart-path {
    fill: transparent;
    transition:
        fill 0.35s ease,
        stroke 0.35s ease;
}

.icon_hert.active .heart-path {
    fill: var(--gold-color);
    stroke: var(--gold-color);
}

.icon_hert.active {
    animation: heart-pop 0.35s ease;
}

@keyframes heart-pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    100% {
        transform: scale(1);
    }
}

/* MAIN IMAGE */
.desire_box .img_1 {
    width: 100%;
    display: block;
}

/* OVERLAY */
.desire_box_top_child {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.gesture_box .desire_box_bot_child svg,
.desire_box .desire_box_bot_child svg {
    transition: 0.5s;
}

.gesture_box:hover .desire_box_bot_child svg,
.desire_box:hover .desire_box_bot_child svg {
    rotate: 45deg;
}

.desire_box_bot_child {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.desire_box_top:hover .desire_box_top_child {
    opacity: 1;
}

/* BUTTON */
.desire_box_top_child_inner {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 12px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.desire_box .price {
    color: var(--gold-color);
    font-size: 18px;
    font-weight: 500;
}

.desire_slider.slick-initialized .slick-slide {
    /* margin-left: 50px; */
    margin: 0 25px;
}

/* ------------------ */
.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin-top: 20px;
}

.slick-dots li {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
    line-height: 0;
    /* FIX for perfect circle dots */
}

.slick-dots li button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--gold-color) !important;
    overflow: hidden;
    font-size: 0 !important;
    line-height: 0 !important;
    /* prevent default bullet size */
    transition: all 0.3s ease;
}

.slick-dots li button:before {
    content: none !important;
    /* remove slick default dot */
}

.slick-dots li.slick-active button {
    width: 28px;
    height: 10px;
    border-radius: 50px;
    background: var(--secondary-color) !important;
    transition: all 0.3s ease;
}

/* curated rituals */

.curated_rituals_box .box_bot {
    /*display: flex;*/
    /*gap:15px;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.curated_rituals_box .box_bot .com_btn {
    margin-top: 10px;
}

/* bespoke  */
.bespoke_box_top,
.bespoke_box_top_2 {
    position: relative;
}

.bespoke_box_top .title_40 {
    position: absolute;
    top: 60px;
    left: 60px;
    color: var(--white-color);
}

.bespoke_box_top_2 .title_40 {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: var(--white-color);
}

.bespoke_box_bot {
    padding: 34px 60px 0;
}

.bespoke_box_bot .para {
    color: var(--grey-666);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

/* ym */

.magic_wrapper h2 {
    font-family: var(--heading-font);
    color: var(--dark-900);
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
}

.magic_wrapper_h3 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 20px;
}

.magic_wrapper_center {
    position: relative;
}

.magic_wrapper_center .magic_wrapper_p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    z-index: 1;

    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 34px;
    /* line-height: 34px; */
    font-style: italic;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.magic_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 60px;
    position: relative;
    padding: 100px 0;
    /* margin: 50px 0; */
    /* margin-bottom:0px; */
}

.magic_wrapper img {
    position: relative;
    z-index: 1;
}

.magic_head_1 {
    position: absolute;
    top: 0.4em;
    left: 0;
    z-index: 2;
}

.magic_head_2 {
    position: absolute;
    bottom: 0.6em;
    right: 0;
    z-index: 2;
}

.magic_head_phone {
    display: none;
}

/* ym */
