.month_box_main
{
    background:url(../../images/front/month_box_bg.webp);
    background-size: cover;
    background-repeat: repeat;
    padding:60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap:35px;
  column-gap: 50px;
    
}

.month_box
{
    background: var(--white-color);
    /*height:200px;*/
    /*width:200px;*/
    padding:16px;
    position: relative;
}

 .month_box svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.month_box .green_svg
{
     transition: .6s;
}

.month_box .green_svg:hover
{
    rotate: 135deg;
}

.montheditions_lt
{
     position: relative;
}

.montheditions_lt .com_btn
{
     position: absolute;
    left: 0;
    top: 0;
    background: var(--secondary-color);
    color:var(--white-color);
}

.montheditions_rt .sub_head_inter
{
    font-size:18px;
}

.montheditions_rt .montheditions_para
{
   font-weight: 600;
   color:var(--dark-333);
}



  .montheditions_rt .content-wrap {
    overflow: visible;
}

.montheditions_rt .read-more-btn {
    display: none;
    margin-top: 10px;
    font-weight: 500;
    color: #0D5E4C;
    border-bottom:1px solid #0D5E4C;
    text-decoration: none;
}



