:root {
    /* color code */
    --white-color: #FFFFFF;
    --dark-900: #0e2233;
    --dark-333: #333333;
    --gold-color: #c7b58c;
    --secondary-color: #8c8a72;
    --grey-666: #666;

    /* font family */
    --heading-font: "Playfair Display", serif;
    --body-font: "Inter", sans-serif;

    /* variables */
    --radius: 10px;
    --transition: 0.3s ease;
    --mb: 24px;
    --fs-18: 18px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

body {
    background-color: #F8F7F3;
    color: var(--grey-666);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    top:0 !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.mt_35 {
    margin-top: 35px;
}

.mb_35
{
    margin-bottom: 35px;
}

.mt_60 {
    margin-top: 60px;
}

.mt_80 {
    margin-top: 80px;
}

.mt_120 {
    margin-top: 120px;
}

.mb_120 {
    margin-bottom: 120px;
}

.main_head {
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: 64px;
    font-weight: 500;
}

.title_60 {
    color: var(--gold-color);
    font-family: var(--heading-font);
    font-size: 60px;
    font-weight: 400;
}

.title_40 {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 500;
}

.sub_head {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
}

.sub_head_inter {
    color: var(--gold-color);
    font-family: var(--body-font);
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.section_header {
    text-align: center;
    margin-bottom: 40px;
}

.section_header .sub_head {
    text-transform: uppercase;
    color: var(--gold-color);
}

.section_header .sub_head svg path
{
    fill: var(--gold-color);
}

/* button hover effect  */
.com_btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--secondary-color);
    font-weight: 500;
    padding: 14px 24px;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid var(--secondary-color);
}


.com_btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.com_btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.com_btn:hover {
    color: var(--white-color);
    border: 1px solid var(--secondary-color);
}

.com_btn:hover:before {
    top: -35%;
    background-color: var(--secondary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.com_btn:hover:after {
    top: -45%;
    background-color: var(--secondary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn_2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--white-color);
    font-weight: 500;
    padding: 14px 24px;
    font-size: 18px;
    border-radius: 0;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--white-color);
}


.btn_2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn_2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--white-color);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn_2:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn_2:hover:before {
    top: -35%;
    background-color: var(--white-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn_2:hover:after {
    top: -45%;
    background-color: var(--white-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* cta footer css */
.cta_footer {
    background-image: url(../images/ctafooter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cta_ftwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
}

.cta_ftwrapper .sub_head span {
    color: #F8F7F3;
    font-family: var(--heading-font);
    font-size: 34px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.cta_ft_center {
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* cta footer css */
/* img aniamtion */
.img_zoom {
    overflow: hidden;
}

.img_zoom img {
    transition: transform 0.35s ease;
}

.img_zoom:hover img {
    transform: scale(1.02);
}

/* img aniamtion */



/* extra class in css  all slider */
.slick-slide
{
    height: auto;
}


/*loader css start*/


.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

.loader-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.loader-box {
    width: 110px;
    height: 110px;
    animation: pulse 3s ease-in-out infinite;
}

.loader-box svg {
    width: 100%;
    height: 100%;
}

.loader-box path {
    stroke: #c7b58c;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@keyframes pulse {
    0%   { transform: scale(1) rotate(0deg); }
    50%  { transform: scale(1.05) rotate(180deg); }
    100% { transform: scale(1) rotate(360deg); }
}


/*loader css end*/

/* ================= Language Select Wrapper ================= */

.language-select{
  display:flex;
  align-items:center;
  gap:10px;
  padding:5px 12px;
  /*border-radius:5px;*/
  /*background:#0e0e0e;*/
  border:1px solid #c7b58c;
  /*box-shadow:0 0 18px rgba(255,165,0,0.35);*/
  width: 180px;
}

/* icon */
.language-select svg{
  flex-shrink:0;
}

/* ================= Dropdown Wrapper ================= */

.language-select .dropdown-wrapper{
  position:relative;
  /*width:190px;*/
}

/* input */
.language-select .dropdown-input-lan{
  width:100%;
  border:none;
  background:transparent;
  color:#fff;
  font-size:14px;
  cursor:pointer;
}

.language-select .dropdown-input-lan::placeholder{
  color:#bbb;
}

.language-select .dropdown-input-lan:focus{
  outline:none;
}

/* ================= Dropdown List ================= */

.language-select .dropdown-list{
  position:absolute;
  top: calc(100% + 7px);
  left: -47px;
  right: -14px;
  max-height:240px;
  overflow-y:auto;
  background: #f9f9f9;
  /*border-radius:0px;*/
  border:1px solid #8c8a72;
  /*box-shadow:0 0 22px rgba(255,165,0,0.35);*/
  display:none;
  z-index:9999;
}

/* show */
.language-select .dropdown-list.show{
  display:block;
    background:url(../images/ct_noise_bg.png);
}

/* ================= Search ================= */

.language-select .search-box{
  padding:10px;
  border-bottom:1px solid rgba(255,255,255,0.1);
}

.language-select .search-box input{
  width:100%;
  padding:7px 10px;
  /* border-radius:6px; */
  border: 1px solid #8c8a72;
   background:transparent; 
  /*color:#fff;*/
  font-size:13px;
}

.language-select .search-box input:focus{
  outline:none;
  border-color:#8c8a72;
}

/* ================= List Items ================= */

.language-select .list-items div{
  padding:9px 14px;
  /* font-size:13px; */
  /* color:#eaeaea; */
  cursor:pointer;
  transition:0.25s;
}

.language-select .list-items div:hover{
  background:rgba(255,255,255,0.06);
  color:var(--gold-color);
}

/* ================= Scrollbar ================= */

.language-select .dropdown-list::-webkit-scrollbar{
  width:4px;
}

.language-select .dropdown-list::-webkit-scrollbar-thumb{
  background:#8c8a72;
  border-radius:10px;
}

/* ================= Hide Google Translate UI ================= */

.goog-te-banner-frame,
.skiptranslate,
.goog-te-gadget-icon{
  display:none !important;
}

  .form-control:focus
    {
            border-color: #8c8a72;
            box-shadow:unset;
    }

