.wedding_vault {
    background: url('../images/wedding_vault.png'), no-repeat center center/contain;
    padding-top: 150px;
    text-align: center;
    height: 100vh;
    position: relative;
}

.wedding_h2 {
    color: #F2D8D9;
    font-family: var(--heading-font);
    font-size: 34px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.wedding_vault_form input {
    width: 600px;
    padding: 24px;
    border: 1px solid #F8F8F4;
    background: rgba(200, 181, 141, 0.30);
    text-align: center;
    margin: 34px auto 24px auto;
    color: #fff;

    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.wedding_vault_form input::placeholder {
    color: #fff;
}

.wedding_btn {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    display: flex !important;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
    padding: 14px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    transition: transform 0.35s cubic-bezier(.34, 1.56, .64, 1);
}

.wedding_btn:hover {
    transform: scale(1.06);
}


/* ----------------------------------- */
.wedding_box {
    padding: 40px 24px;
    height: 100%;
    background-color: #EDEAE4;
    position: relative;
    overflow: hidden;
}

.wedding_box p {
    position: relative;
   z-index: 1;
}

.wedding_box::after {
    content: "";
    position: absolute;
    right: -7px;
    bottom: 0;
    background: url(../images/ct_design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;

}

.wedding_box_head {
    color: #B58A46;
    font-family: var(--heading-font);
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 40px;
}

.wedding_box_main {
    position: relative;
    padding: 0 35px;
}

.wedding_box_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
}

.wedding_gifting {
    background-color: var(--secondary-color);
    padding: 44px 0;
    position: relative;
    overflow: hidden;
}

.wedding_gifting .wedding_svg1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.wedding_gifting .wedding_svg2 {
    position: absolute;
    top: 0;
    right: 0;
}